@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
    
body{
 font-family: "Poppins", sans-serif;
}
:root{

    --amrelo:#868686;
    --verde:#2f9364;
    --laranja:#ff7c37;
    --degrade-bnt:linear-gradient(#525252, #6b6b6b);
    --color-p:#a1a1a1;
    --color-p-2:#868585;
}

.background-preto{
    background:var(--amrelo);
}

.container{
        max-width:1440px;
        padding: 0px 0%;
        margin: 0px 50px ;
}   
.btn-gradiente{
    padding: 10px 25px;
    color: white;
    border: none;
    cursor: pointer;
    background-image: var(--degrade-bnt);
}
nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
}
.logo a{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.ul{
    display: flex;
    align-items: center;
    gap: 30px;   /* espaçamento entre itens */
    white-space: nowrap;
          
}
.ul li{
    margin: 0 25px
    font-size: 15px;
      align-self: flex-end;
  
}
.ul li a{
    color: black;
}
/*main*/

main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.main-text{
    flex: 1 1 400px;  /* flexível: cresce e diminui */
    max-width: 600px;
}

.main-text h1{
    font-size: 3rem;
}

.main-text div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.main-img{
    flex: 1 1 400px;  /* flexível: cresce e diminui */
    max-width: 600px;
    
}
/* ======== MOBILE ======== */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .ul {
        flex-wrap: wrap;     /* permite quebrar linha */
        justify-content: center;
        gap: 15px;
    }

    .main-text, .main-img {
        width: 100%;
        text-align: center;
    }

    main .container {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .main-text h1 {
        font-size: 2rem;
    }
}